<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('.error_explanation_header', :default => 'Event could not be added due to %{count_errors}: ', :count_errors => pluralize(@event.errors.count, t('.error', :default => 'error'))) %></h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date %>
  </div>

  <div class="field">
    <%= f.label :speaker %>
    <%= f.text_field :speaker %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 8, :cols => 30 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
