<h1>Alterar evento</h1>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('#event_date').datetimepicker();
    $('#event_date').datetimepicker('setDate', 
        new Date(<%= @event.date.year %>, <%= @event.date.month-1 %>, <%= @event.date.mday %>, <%= @event.date.hour %>, <%= @event.date.min %>));

  });
<% end %>

<%= render 'form' %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
