<script language="javascript">
$(document).ready(function() {
    $('#calendar').fullCalendar({
		events: [
			<% @events.each do |event| %>
				{
					title: '<%= event.name %> - <%= event.speaker %>',
					start: new Date(<%= event.date.year %>, <%= event.date.month-1 %>, <%= event.date.mday %>, <%= event.date.hour %>, <%= event.date.min %>),
					url: '/events/<%= event.id %>',
					description: '<%= event.description %>'
				},
			<% end %>
		],

		weekends: true,
		theme: true,
		aspectRatio: 2,
		allDayDefault: false,

		eventClick: function(event) {
		        if (event.url) {
		            window.open(event.url);
		            return false;
		        }
		},

		eventRender: function(event, element) {	
			// TODO: page will break if description contains line breaks
			if (event.description != "") {
				element.qtip({
					content: "<b>Descrição: </b>" + event.description
				});
			}
		},

		eventBackgroundColor: "#459e00",
		eventBorderColor: "#327e04",
		eventTextColor: "#ffffff",

		monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
		monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
		dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
		dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb'],
		buttonText: {
			prev: '&nbsp;&#9668;&nbsp;',
			next: '&nbsp;&#9658;&nbsp;',
			prevYear: '&nbsp;&lt;&lt;&nbsp;',
			nextYear: '&nbsp;&gt;&gt;&nbsp;',
			today: 'hoje',
			month: 'mês',
			week: 'semana',
			day: 'dia'
		},
		allDayText: 'dia todo',
		
		axisFormat: 'H:mm',
		titleFormat: {
			month: 'MMMM yyyy',
			week: "d [ yyyy]{ '&#8212;'[ MMM] d MMM yyyy}",
			day: 'dddd, d MMM, yyyy'
		},
		columnFormat: {
			month: 'ddd',
			week: 'ddd d/M',
			day: 'dddd d/M'
		},
		timeFormat: {
			'': 'H(:mm)tt{ - H:mmtt}',
			agenda: 'H:mmtt{ - H:mmtt}'
		}
    })

});
</script>

<center>
  <div class="headmaster">
    <h1 class="padded">Talk The Talk - Openspaces</h1>
    <h4 class="padded">Aprenda, <%= link_to 'dissemine', new_event_path %>, discuta! Conhecimento é open source!</h4>
  </div>
</center>

<div id="calendar" class="div_center_aligned"></div>
