<h1 class="padded">Talk The Talk - Openspaces</h1>
<h4 class="padded">Aprenda, dissemine, discuta! Conhecimento é open source!</h4>
<script language="javascript">
$(document).ready(function() {
    $('#calendar').fullCalendar({
		events: [
			<% @events.each do |event| %>
				{
					title: '<%= event.name %> (<%= event.date.strftime("%k:%M") %>)\n\n <%= event.speaker %>',
					start: '<%= event.date.strftime("%Y-%m-%d") %>',
					url: '/events/<%= event.id %>'
				},
			<% end %>
		
		],
		weekends: true,
		theme: true,
		aspectRatio: 2,
		eventClick: function(event) {
		        if (event.url) {
		            window.open(event.url);
		            return false;
		        }
		}
    })

});
</script>

<div id='calendar' class="div_center_aligned"></div>
