
<p id="notice"><%= notice %></p>

<p>
  <b><%= Event.human_attribute_name("date") %>:</b>
  <%= @event.date %>
</p>

<p>
  <b><%= Event.human_attribute_name("title") %>:</b>
  <%= @event.title %>
</p>

<p>
  <b><%= Event.human_attribute_name("description") %>:</b>
  <%= @event.description %>
</p>

<p>
  <b><%= Event.human_attribute_name("speaker") %>:</b>
  <%= @event.speaker %>
</p>


<%= link_to t('.edit', :default => 'Edit'), edit_event_path(@event) %> |
<%= link_to t('.back', :default => 'Back'), events_path %> |
