<!DOCTYPE html>
<html>
<head>
  <title>TalkTheTalk</title>
  <%= javascript_include_tag "prefixfree.min" %>

  <%= javascript_include_tag "jquery-1.7.min" %>
  <%= javascript_include_tag "jquery-ui-1.8.16.custom.min" %>
  <%= javascript_include_tag "jquery-ui-timepicker-addon" %>
  <%= javascript_include_tag "jquery-ui-timepicker-pt-BR" %>
  <%= javascript_include_tag "jquery.datepicker.ui.pt-BR" %>
  <%= javascript_include_tag "jquery.qtip.min" %>

  <%= javascript_include_tag "fullcalendar.min" %>


  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "south-street/theme" %>

  <%= csrf_meta_tag %>
</head>
<body>

<center>
  <div class="headmaster">
    <h1 class="padded">Talk The Talk - Openspaces</h1>
    <h4 class="padded">Aprenda, <%= link_to 'dissemine', new_event_path %>, discuta! Conhecimento é open source!</h4>
  </div>
</center>

<div class="container">
<%= yield %>
</div>


</body>
</html>
