<!DOCTYPE html>
<html>
<head>
  <title>TalkTheTalk</title>
  <%= javascript_include_tag "jquery-1.7.min" %>
  <%= javascript_include_tag "jquery-ui-1.8.16.custom.min" %>
  <%= javascript_include_tag "jquery-ui-timepicker-addon" %>
  <%= javascript_include_tag "jquery.qtip.min" %>
  <!-- <%= javascript_include_tag :defaults %> -->
  <%= javascript_include_tag "fullcalendar.min" %>
  <%= javascript_include_tag "jquery.datepicker.ui.pt-BR" %>
  <%= javascript_include_tag "prefixfree.min" %>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "south-street/theme" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
