<!DOCTYPE html>
<html>
<head>
  <title>Talkthetalk</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "ui-lightness/theme" %>
  <%= javascript_include_tag "jquery-1.7.min" %>
  <%= javascript_include_tag "jquery-ui-1.8.16.custom.min" %>
  <%= javascript_include_tag "jquery-ui-timepicker-addon" %>
  <%= javascript_include_tag "fullcalendar.min" %>
  <%= javascript_include_tag "jquery.datepicker.ui.pt-BR" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
